<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <connectionStrings>
    <add name="DBConnString" providerName="System.Data.SqlClient" connectionString="SERVER=LP150012W7E64\SQLSERVER2012;Initial Catalog=Larco;User Id=LarcoWebUser;Password=Larco.App-WebUser2016;Pooling=true;Min Pool Size=3;Max Pool Size=10" />
    <!--  <add name="DBConnString" providerName="System.Data.SqlClient" connectionString="SERVER=192.168.1.1\compac;Initial Catalog=Larco;User Id=LarcoWebUser;Password=Larco.App-WebUser2016;Pooling=true;Min Pool Size=3;Max Pool Size=10" /> -->
  </connectionStrings>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="System" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add fileName="D:\\Temp\\Logs\\Larco2.txt" header="" footer="" formatter="CSV Formatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Trace File Trace Listener" />
    </listeners>
    <formatters>
      <add template="{timestamp(local:MM/dd/yyyy HH:mm:ss.fffffff)}|{category}|{priority}|{message}|{eventid}|{severity}|{title}|{machine}|{dictionary({value})}|{win32ThreadId}|{activity}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="CSV Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="All Events">
        <listeners>
          <add name="Trace File Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events">
        <listeners>
          <add name="Trace File Trace Listener" />
        </listeners>
      </allEvents>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Trace File Trace Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <appSettings>
    <add key="AjaxBasePkg" value="BS.Larco.Ajax" />
    <add key="LarcoDAO" value="BS.Larco.Dao.Sql.LarcoSqlDAO, Larco" />
    <add key="IPageInfoDAO" value="EPE.Common.Dao.Service.PageInfoServiceDAO, EPEFramework" />
    <add key="ICatalogDAO" value="EPE.Common.Dao.Cache.CatalogCacheDAO, EPEFramework" />
    <add key="CatalogCacheTables" value="tblClientes,tblProductos" />
    <add key="PageInfo" value="BS.Larco.Ajax.PageInfo, Larco" />
    <add key="EPEFrameworkAppName" value="Larco" />
        
    <add key="QueryHelper" value="BS.Larco.Ajax.QueryHelper, Larco" />
    <add key="Users" value="BS.Larco.Ajax.Users, Larco" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PageServiceSoap" />
        <binding name="ModulesServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/EPEFrameworkService/PageService.asmx" binding="basicHttpBinding" bindingConfiguration="PageServiceSoap" contract="EPEFrameworkService.PageServiceSoap" name="PageServiceSoap" />
      <endpoint address="http://localhost/EPEFrameworkService/ModulesService.asmx" binding="basicHttpBinding" bindingConfiguration="ModulesServiceSoap" contract="FrameworkModulesService.ModulesServiceSoap" name="ModulesServiceSoap" />
    </client>
  </system.serviceModel>
  <system.web>
    <customErrors mode="Off" />
    <pages buffer="true" validateRequest="true" />
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Forms">
      <forms name=".ASPXFORMSDEMO" loginUrl="logon.aspx" protection="All" path="/" timeout="30" />
    </authentication>
    <authorization>
      <deny users="?" />
      <allow users="*" />
    </authorization>
    <httpHandlers>
      <add verb="*" path="*Controller.ashx" type="EPE.Common.handler.AjaxController, Larco" />
      <add verb="*" path="*Handler.ashx" type="EPE.Common.handler.AjaxDownloadHandler, Larco" />
    </httpHandlers>
    <httpRuntime maxUrlLength="40960" maxQueryStringLength="2097151" maxRequestLength="40960" />
    <sessionState mode="InProc" timeout="20"></sessionState>
  </system.web>
  <location path="TV/Screen.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>  
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="500000000" />
      </webServices>
      <scriptResourceHandler enableCompression="true" enableCaching="true" />
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <handlers>
      <remove name="AjaxController" />
      <remove name="AjaxDownloadHandler" />
      <add name="AjaxController" verb="*" path="*Controller.ashx" type="EPE.Common.handler.AjaxController, Larco" />
      <add name="AjaxDownloadHandler" verb="*" path="*Handler.ashx" type="EPE.Common.handler.AjaxDownloadHandler, Larco" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxUrl="40960" maxQueryString="2097151" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
